
<% if @question == "I am going to work" %>
<h2>Great!</h2>
<% elsif @question.include?('?') %>
<h2>Silly question, get dressed and go to work!</h2>
<% else %>
<h2>I don't care, get dressed and go to work!</h2>
<% end %>
<div class="d-flex justify-content-center p-2">
  <a href="http://localhost:3000/ask">Ask a new question</a>
</div>

<!-- If the message is I am going to work, the coach will answer Great!
If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!.
Otherwise she/he will answer I don't care, get dressed and go to work!
 -->
